<header class="p-3 bg-dark text-white mb-5">
  <div class="container">
    <div class="d-flex justify-content-end justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <i class="fa-solid fa-books"></i>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-white">OpenLibrary App</a></li>
      </ul>

      <div class="text-end">
        <a class="text-white btn btn-outline-light me-2" href="https://github.com/albinaAS93/OpenLibraryApp"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </div>
</header>
